<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tunr Musc Playr</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Questrial|Rubik+Mono+One" rel="stylesheet">
</head>

<body>
  <header class="header top-bar">
    <nav class="row">
      <form action="/search" class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button"> <i class="fa fa-search"></i></button></li>
        </ul>
      </form>

      <div class="top-bar-left">
        <h1 class="logo"><a href="/">Tunr:</a></h1>
        <h2>Musc Playr</h2>
      </div>
    </nav>
  </header>

  <main class="page-content row">
    <div class="small-12 column">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt itaque vel, rerum cupiditate possimus non dicta totam molestiae iste quisquam aperiam vitae quae temporibus beatae illum sint? Minus, commodi, eveniet.
      {{{ body }}}
    </div>
  </main>

  <footer>
    <div class="row">
      <p><small>This is not Spotify, we promise <sup>&copy;</sup></small></p>
    </div>
  </footer>
</body>
</html>
